
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href>Ember Reddit</a>
    </div>
    <ul class="nav navbar-nav">
      {{#each model as |favorite|}}
      <li>{{#link-to "subreddit" favorite}}{{favorite}}{{/link-to}}</li>
      {{/each}}
    </ul>
  </div>
</nav>

{{outlet}}
